Sidebar styles
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1050;
  background-color: #c2c9d1;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; /* Smooth transition for sidebar */
}

.sidebar h5 {
  font-weight: bold;
  color: #343a40;
  padding: 15px;
  background-color: #e9ecef;
  margin-bottom: 0;
}

.sidebar .list-group-item {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding: 15px 20px;
  transition: all 0.3s ease; /* Transition for hover effect */
  color: #495057;
  display: flex;
  align-items: center;
}

.sidebar .list-group-item a {
  color: #495057;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar .list-group-item a:hover {
  background-color: #e9ecef;
  color: #007bff;
}

.sidebar .list-group-item a:hover .me-2 {
  color: #007bff;
}

/* Sidebar icon styling */
.sidebar .me-2 {
  font-size: 1.3rem;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.sidebar .list-group-item.active {
  background-color: #007bff;
  color: white;
}

.sidebar .list-group-item.active a {
  color: white;
}

/* Mobile Sidebar */
@media (max-width: 991px) {
  .sidebar {
    display: none;
  }

  .offcanvas-start {
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    transition: transform 0.3s ease;
  }

  .offcanvas-start.show {
    transform: translateX(0);
  }

  .offcanvas-header {
    background-color: #9ea2a7;
  }

  .offcanvas-body {
    padding: 0;
  }

  .offcanvas-body .list-group-item {
    padding: 12px 20px;
  }

  .offcanvas-body .me-2 {
    font-size: 1.4rem;
  }
}

/* Navbar styles */
.navbar {
  border-bottom: 1px solid #e9ecef;
}

.navbar .navbar-toggler {
  border-color: #80858a;
}

.navbar .navbar-toggler-icon {
  background-color: #d1d5da;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #495057;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #007bff;
}
